.education {
  padding: 4em 2em;
  background-color: #f4f7ff;
  color: #333;
  margin-top: 4em;
  margin-bottom: 10em;
}

.education h2 {
  text-align: center;
  font-size: 2.8rem;
  margin-bottom: 3rem;
  color: #145ba2;
}

.education-timeline {
  display: flex;
  flex-direction: column;
  gap: 3em;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1em;
}

.education-item {
  display: flex;
  align-items: center;
  gap: 2em;
  background: white;
  padding: 2em;
  border-left: 6px solid #145ba2;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
  flex-wrap: wrap;
}



.education-item img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 11px;
  padding: 3.5px;
  background: #145ba2;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  flex-shrink: 0;
  align-self: center;
}

.education-content {
  flex: 1;
  min-width: 300px;
}

.education-item h3 {
  font-size: 1.8rem;
  margin-bottom: 0.4em;
  color: #333;
}

.degree, .duration {
  display: block;
  font-weight: 500;
  color: #777;
  margin-bottom: 0.5em;
}

.education-item p {
  line-height: 1.6;
  margin-bottom: 0.5em;
  color: #444;
}

.subsection {
  margin-top: 1.2em;
}

.subsection h4 {
  margin-bottom: 0.5em;
  color: #4e54c8;
  font-size: 1.15rem;
  font-weight: 600;
}

.subsection ul, .education-item ul {
  list-style-type: disc;
  padding-left: 1.5em;
  color: #555;
  text-align: left;
}

.subsection p {
  margin: 0.5em 0 0 0;
  color: #444;
  line-height: 1.6;
  text-align: left;
}

.education-item ul {
  margin-top: 1.5em;
}
.education-item ul li {
  margin-bottom: 0.8em;
}

@media (max-width: 768px) {
  .education {
    padding: 2em 1em;
    margin-bottom: 4em;
  }

  .education h2 {
    font-size: 2.4rem;
    margin-bottom: 2rem;
  }

  .education-timeline {
    gap: 2em;
    padding: 0 1em;
  }

  .education-item {
    padding: 1.5em;
    gap: 1.5em;
    flex-wrap: wrap;
    overflow: hidden; 
    max-width: 100%;
  }

  .education-item img {
    width: 250px;
    height: 170px;
    object-fit: cover;
    border-radius: 11px;
  }

  .education-content {
    flex: 1;
    min-width: 200px;
    overflow: hidden;
  }

  .education-item h3 {
    font-size: 1.4rem;
    margin-bottom: 0.4em;
  }

  .degree, .duration {
    font-size: 0.9rem;
  }

  .subsection h4 {
    font-size: 1rem;
  }

  .subsection ul, .education-item ul {
    padding-left: 1.2em;
    font-size: 0.9rem; 
  }

  .subsection ul li {
    margin-bottom: 0.5em;
  }

  .education-item p, .subsection p {
    line-height: 1.4; 
  }
}
