.home {
  margin: 0;
  padding: 0;
  background-color: #A3DBF4;
  display: flex;
  align-items: center;
  height: 100vh;
  padding-right: 10em;
}

.hero {
  color: white;
  text-align: center;
  padding: 100px 20px;
  flex: 1; 
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.hero button {
  background-color: white;
  color: #4e54c8;
  border: none;
  padding: 12px 24px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.hero button:hover {
  background-color: #e0e0e0;
}

.image img {
  width: 450px;
  height: 450px;
  border-radius: 50%;
  object-fit: cover;  
}
