.experience {
padding: 5em 2em;
background: linear-gradient(135deg, #f9fafe, #e8ebf8);
color: #2b2b2b;
margin-top: 4em;
margin-bottom: 10em;
}

.experience h2 {
text-align: center;
font-size: 2.7rem;
margin-bottom: 3rem;
color: #3544d1;
font-weight: 700;
}

.experience-timeline {
display: flex;
flex-direction: column;
gap: 3em;
max-width: 1000px;
margin: 0 auto;
}

.experience-item {
background: white;
padding: 2.5em 2em;
border-radius: 16px;
box-shadow: 0 10px 40px rgba(0, 0, 0, 0.09);
border: 1px solid #d9e0f0;
}


.experience-header h3 {
font-size: 1.8rem;
margin-bottom: 0.3em;
color: #2230a5;
}

.position {
font-size: 1.1rem;
font-weight: 600;
color: #555;
margin-top: 0.5em;
}

.location {
font-size: 0.95rem;
font-weight: 500;
color: #777;
margin-top: 0.3em;
}

.experience-details {
margin-top: 1.5em;
padding-left: 1.5em;
color: #444;
list-style-type: none;
}

.experience-details li {
margin-bottom: 1em;
line-height: 1.8;
font-size: 1rem;
}

.experience-header {
display: flex;
align-items: center;
gap: 1.5em;
margin-bottom: 1em;
}

.experience-logo {
width: 200px;
height: 170px;
object-fit: contain;
border-radius: 12px;
background: white;
padding: 8px;
box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

.experience-header h3 {
font-size: 1.6rem;
margin: 0;
color: #2230a5;
}

.experience-header span {
display: block;
}

.experience-header {
display: flex;
align-items: center;
gap: 1.5em;
margin-bottom: 1em;
}

.experience-header div {
display: flex;
flex-direction: column;
justify-content: center;
}
.experience-item:last-of-type img {
    margin-right: 5em;
}
.experience-item:first-of-type img {
    margin-right: 3em;
}